h3 {
    color: lightcoral;
}

a {
    color: grey;
    text-decoration: none;
}

h1 {
    text-decoration: wavy;
    color: salmon;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background-color: antiquewhite;
}

.end {
    text-align: center;
    font-weight: bold;
}

img {
    background-color: bisque;
    height: auto;
    width: max-content;
    text-align: center;
}

.recipecard {
    size: 300px;
    padding: 8px;
    background-color: antiquewhite;
    margin: 20px auto;
}